{% extends 'accounts_app/_accounts_base.html' %}
{% load static %}
{% block content %}

    <div class="wrapper default">
        <div class="container">
            <div class="row">
                <div class="main-content col-12 col-md-8 mx-auto">
                    <div class="account-box checkout-page">
                        <a href="#" class="logo">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                        <div class="account-box-content">
                            <form class="form-account">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="checkout-title text-right">مشخصات شما</div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-account-title">نام</div>
                                        <div class="form-account-row">
                                            <input class="input-field text-right" type="text"
                                                placeholder="نام خود را وارد نمایید">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-account-title">نام خانوادگی</div>
                                        <div class="form-account-row">
                                            <input class="input-field text-right" type="text"
                                                placeholder="نام خانوادگی خود را وارد نمایید">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-account-title">کد ملی</div>
                                        <div class="form-account-row">
                                            <input class="input-field" type="text"
                                                placeholder="کد ملی خود را وارد نمایید">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-account-agree">
                                            <label class="checkbox-form checkbox-primary">
                                                <input type="checkbox" id="agree">
                                                <span class="checkbox-check"></span>
                                            </label>
                                            <label for="agree">تبعه خارجی فاقد کد ملی هستم.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="checkout-title text-right">افزودن آدرس جدید</div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-account-title">نام و نام خانوادگی تحویل گیرنده</div>
                                        <div class="form-account-row">
                                            <input class="input-field text-right" type="text"
                                                placeholder="نام تحویل گیرنده را وارد نمایید">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-account-title">شماره موبایل</div>
                                        <div class="form-account-row">
                                            <input class="input-field" type="text"
                                                placeholder=" شماره موبایل خود را وارد نمایید">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-account-title">آدرس پستی</div>
                                        <div class="form-account-row">
                                            <textarea class="input-field text-right" rows="5"
                                                placeholder=" شماره موبایل خود را وارد نمایید"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-account-title">کد پستی</div>
                                        <div class="form-account-row">
                                            <input class="input-field" type="text"
                                                placeholder=" شماره موبایل خود را وارد نمایید">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mx-auto">
                                    <div class="form-account-row form-account-submit">
                                        <div class="parent-btn">
                                            <button class="dk-btn dk-btn-info">
                                                ثبت و ارسال
                                                <i class="fa fa-sign-in"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="mini-footer">
            <nav>
                <div class="container">
                    <ul class="menu">
                        <li>
                            <a href="#">درباره دیجی کالا</a>
                        </li>
                        <li>
                            <a href="#">فرصت‌های شغلی</a>
                        </li>
                        <li>
                            <a href="#">تماس با ما</a>
                        </li>
                        <li>
                            <a href="#">همکاری با سازمان‌ها</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <div class="copyright-bar">
                <div class="container">
                    <p>
                        استفاده از مطالب فروشگاه اینترنتی دیجی کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق
                        به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی کالا) می‌باشد.
                    </p>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}