{% extends 'accounts_app/_accounts_base.html' %}
{% load static %}
{% block content %}

    <div class="wrapper default">
        <div class="container">
            <div class="row">
                <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                    <div class="account-box text-center">
                        <a href="#" class="logo">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                        <div class="account-box-title text-center">به دیجی کالا خوش آمدید</div>
                        <div class="account-box-content">
                            <div class="account-box-message">
                                <i class="account-box-message-icon now-ui-icons users_single-02"></i>
                                <h3>حساب کاربری شما در دیجی کالا ساخته شد</h3>
                                <p>اکنون می‌توانید به صفحه‌ای که در آن بودید بازگردید و یا با تکمیل اطلاعات حساب کاربری
                                    خود به کلیه امکانات و
                                    سرویس‌های دیجی کالا و سرویس‌های وابسته به آن دسترسی داشته باشید</p>
                                <ul class="account-box-message-links">
                                    <li>
                                        <div class="parent-btn">
                                            <a href="#" class="dk-btn dk-btn-info">
                                                تکمیل حساب کاربری
                                                <i class="now-ui-icons users_single-02"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li><a href="#" class="btn-link-border">بازگشت به صفحه‌ای که در آن بودید</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="mini-footer">
            <nav>
                <div class="container">
                    <ul class="menu">
                        <li>
                            <a href="#">درباره دیجی کالا</a>
                        </li>
                        <li>
                            <a href="#">فرصت‌های شغلی</a>
                        </li>
                        <li>
                            <a href="#">تماس با ما</a>
                        </li>
                        <li>
                            <a href="#">همکاری با سازمان‌ها</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <div class="copyright-bar">
                <div class="container">
                    <p>
                        استفاده از مطالب فروشگاه اینترنتی دیجی کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق
                        به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی کالا) می‌باشد.
                    </p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}