{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Digikala {% endblock %}

{% block content %}



        {% if carts %}
        <main class="cart-page default">
            <div class="container">
                <div class="row">
                    <div class="cart-page-content col-xl-9 col-lg-8 col-md-12 order-1">
                        <div class="cart-page-title">
                            <h1>سبد خرید</h1>
                        </div>
                        <div class="table-responsive checkout-content default">
                            {% for cart in carts %}
                            <table class="table">
                                <tbody>
                                    
                                    <tr class="checkout-item">
                                        <td>
                                            <img src="{{ cart.product.image.url }}" style="width:170px" alt="">
                                            <a href="{% url 'store_app:remove_from_cart' cart.pk %}" class="checkout-btn-remove"></a>
                                        </td>
                                        <td>
                                            <h3 class="checkout-title">
                                                {{ cart.product.persian_title }}
                                            </h3>
                                        </td>
                                        <td>{{ cart.quantity }} عدد</td>
                                        <td>{{ cart.product.price|intcomma }} تومان</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>
                    </div>
                    <aside class="cart-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-2">
                        <div class="checkout-aside">
                            <div class="checkout-summary">
                                <div class="checkout-summary-main">
                                    <ul class="checkout-summary-summary">
                                        <li><span>مبلغ کل ({{totla_count}} کالا)</span><span>{{totla_price|intcomma}} تومان</span></li>
                                        <li>
                                            <span>هزینه ارسال</span>
                                            <span>وابسته به آدرس<span class="wiki wiki-holder"><span
                                                        class="wiki-sign"></span>
                                                    <div class="wiki-container js-dk-wiki is-right">
                                                        <div class="wiki-arrow"></div>
                                                        <p class="wiki-text">
                                                            هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده
                                                            متفاوت باشد. در
                                                            صورتی که هر
                                                            یک از مرسولات حداقل ارزشی برابر با ۱۰۰هزار تومان داشته باشد،
                                                            آن مرسوله
                                                            بصورت رایگان
                                                            ارسال می‌شود.<br>
                                                            "حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر
                                                            باشد."
                                                        </p>
                                                    </div>
                                                </span></span>
                                        </li>
                                    </ul>
                                    <div class="checkout-summary-devider">
                                        <div></div>
                                    </div>
                                    <div class="checkout-summary-content">
                                        <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                                        <div class="checkout-summary-price-value">
                                            <span class="checkout-summary-price-value-amount">{{ totla_price|intcomma }}</span>تومان
                                        </div>
                                        <a href="{% url 'payment_app:shopping' %}" class="selenium-next-step-shipping">
                                            <div class="parent-btn">
                                                <button class="dk-btn dk-btn-info">
                                                    ادامه ثبت سفارش
                                                    <i class="now-ui-icons shopping_basket"></i>
                                                </button>
                                            </div>
                                        </a>
                                        <div>
                                            <span>
                                                کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی
                                                را تکمیل
                                                کنید.
                                            </span>
                                            <span class="wiki wiki-holder"><span class="wiki-sign"></span>
                                                <div class="wiki-container is-right">
                                                    <div class="wiki-arrow"></div>
                                                    <p class="wiki-text">
                                                        محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش
                                                        برای شما رزرو
                                                        می‌شوند. در
                                                        صورت عدم ثبت سفارش، دیجی کالا هیچگونه مسئولیتی در قبال تغییر
                                                        قیمت یا موجودی
                                                        این کالاها
                                                        ندارد.
                                                    </p>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-feature-aside">
                                <ul>
                                    <li class="checkout-feature-aside-item checkout-feature-aside-item-guarantee">
                                        هفت روز
                                        ضمانت تعویض
                                    </li>
                                    <li class="checkout-feature-aside-item checkout-feature-aside-item-cash">
                                        پرداخت در محل با
                                        کارت بانکی
                                    </li>
                                    <li class="checkout-feature-aside-item checkout-feature-aside-item-express">
                                        تحویل اکسپرس
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </main>
        {% else %}
        <main class="cart default">
            <div class="container text-center">
                <div class="cart-empty">
                    <div class="cart-empty-icon">
                        <i class="now-ui-icons shopping_basket"></i>
                    </div>
                    <div class="cart-empty-title">سبد خرید شما خالیست!</div>
                    {% if not user.is_authenticated %}
                    <div class="parent-btn">
                        <a href="#" class="dk-btn dk-btn-success">
                            به حساب کاربری خود وارد شوید
                            <i class="fa fa-sign-in"></i>
                        </a>
                    </div>
                    <div class="cart-empty-url">
                        <span>کاربر جدید هستید؟</span>
                        <a href="#">ثبت‌نام در دیجی کالا</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </main>
        {% endif %}
{% endblock %}