{% extends '_base.html' %}
{% load static %}
{% load humanize %}
{% load jalali_tags %}


{% block title %} Digikala {% endblock %}

{% block content %}


        <!-- main -->
        <main class="single-product default">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <ul class="breadcrumb">
                                <li>
                                    <a href="#"><span>فروشگاه اینترنتی دیجی کالا</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>کالای دیجیتال</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>لپ تاپ</span></a>
                                </li>
                                <li>
                                    <span>{{ laptop.persian_title }}</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <article class="product">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product-gallery default">
                                        <img class="zoom-img" id="img-product-zoom" src="{{ laptop.image.url}}" data-zoom-image="{{ laptop.image.url }}" width="411" />

                                    </div>
                         
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product-title default">
                                        <h1>
                                            {{ laptop.persian_title }}
                                            <span>{{ laptop.english_title }}</span></h1>
                                    </div>
                                    <div class="product-directory default">
                                        <ul>
                                            <li>
                                                <span>برند</span> :
                                                <span class="product-brand-title">{{ laptop.brand.title }}</span>
                                            </li>
                                            <li>
                                                <span>دسته‌بندی</span> :
                                                <a href="{% url 'store_app:product-list' 'laptop' %}" class="btn-link-border">
                                                    {{ laptop.category.title }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-variants default">
                                        <span>انتخاب رنگ: </span>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1">
                                            <label for="radio1">
                                                خاکستری
                                            </label>
                                        </div>

                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2" checked="">
                                            <label for="radio2">
                                                نقره ای
                                            </label>
                                        </div>

                                    </div>
                                    <div class="product-guarantee default">
                                        <i class="fa fa-check-circle"></i>
                                        <p class="product-guarantee-text">گارانتی اصالت و سلامت فیزیکی کالا</p>
                                    </div>
                                    <div class="product-delivery-seller default">
                                        <p>
                                            <i class="now-ui-icons shopping_shop"></i>
                                            <span>فروشنده:‌</span>
                                            <a href="#" class="btn-link-border">دیجی کالا</a>
                                        </p>
                                    </div>
                                    <div class="price-product defualt">
                                        <div class="price-value">
                                            <span> {{ laptop.price|intcomma }} </span>
                                            <span class="price-currency">تومان</span>
                                        </div>
                                        <div class="price-discount" data-title="تخفیف">
                                            <span>
                                                ۰
                                            </span>
                                            <span>%</span>
                                        </div>
                                    </div>
                                    <form method='post'>
                                        {% csrf_token %}
                                    <div class="product-add default">
                                        <div class="parent-btn">
                                            <button type="submit" class="dk-btn dk-btn-info">
                                                افزودن به سبد خرید
                                                <i class="now-ui-icons shopping_cart-simple"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 center-breakpoint">
                                    
                                    <div class="product-params default">
                                        <ul data-title="ویژگی‌های محصول">
                                            <li>
                                                <span>حافظه هارد: </span>
                                                <span> {{ laptop.internal_storage }} </span>
                                            </li>
                                            <li>
                                                <span>سایز صفحه نمایش: </span>
                                                <span> {{ laptop.screen_size }} اینچ </span>
                                            </li>
                                            <li>
                                                <span>تعداد پورت:</span>
                                                <span> {{ laptop.usb_port_no }} عدد </span>
                                            </li>
                                            <li>
                                                <span>  حافظه رم: </span>
                                                <span> {{ laptop.ram }} گیگابایت </span>
                                            </li>
                                            <li>
                                                <span> وزن: </span>
                                                <span> 
                                                    {{ laptop.weight }} گرم
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="col-12 default no-padding">
                            <div class="product-tabs default">
                                <div class="box-tabs default">
                                    <ul class="nav" role="tablist">
                                        <li class="box-tabs-tab">
                                            <a class="active" data-toggle="tab" href="#desc" role="tab" aria-expanded="true">
                                                <i class="now-ui-icons objects_umbrella-13"></i> نقد و بررسی
                                            </a>
                                        </li>
                                        <li class="box-tabs-tab">
                                            <a data-toggle="tab" href="#params" role="tab" aria-expanded="false">
                                                <i class="now-ui-icons shopping_cart-simple"></i> مشخصات
                                            </a>
                                        </li>
                                        <li class="box-tabs-tab">
                                            <a data-toggle="tab" href="#comments" role="tab" aria-expanded="false">
                                                <i class="now-ui-icons shopping_shop"></i> نظرات کاربران
                                            </a>
                                        </li>
                                        <li class="box-tabs-tab">
                                            <a data-toggle="tab" href="#questions" role="tab" aria-expanded="false">
                                                <i class="now-ui-icons ui-2_settings-90"></i> پرسش و پاسخ
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="card-body default">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="desc" role="tabpanel" aria-expanded="true">
                                                <article>
                                                    <h2 class="param-title">
                                                        نقد و بررسی تخصصی
                                                        <span>{{ laptop.persian_title }}</span>
                                                    </h2>
                                                    <p> {{ laptop.review }} </p>

                                                </article>
                                            </div>
                                            <div class="tab-pane params" id="params" role="tabpanel" aria-expanded="false">
                                                <article>
                                                    <h2 class="param-title">
                                                        مشخصات فنی
                                                        <span>{{ laptop.english_title }}</span>
                                                    </h2>
                                                    <section>
                                                        <h3 class="params-title">مشخصات کلی</h3>
                                                        <ul class="params-list">
                                                            
                                                            <li>
                                                                <div class="params-list-key">
                                                                    <span class="block">وزن</span>
                                                                </div>
                                                                <div class="params-list-value">
                                                                    <span class="block">
                                                                        {{ laptop.weight }} گرم
                                                                    </span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="params-list-key">
                                                                    <span class="block"> صفحه نمایش</span>
                                                                </div>
                                                                <div class="params-list-value">
                                                                    <span class="block">
                                                                        {{ laptop.screen_size }}
                                                                    </span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="params-list-key">
                                                                    <span class="block">حافظه رم</span>
                                                                </div>
                                                                <div class="params-list-value">
                                                                    <span class="block">
                                                                        {{ laptop.ram }} گیگابایت
                                                                    </span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="params-list-key">
                                                                    <span class="block">تراشه</span>
                                                                </div>
                                                                <div class="params-list-value">
                                                                    <span class="block">
                                                                        {{ laptop.chipset }}
                                                                    </span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="params-list-key">
                                                                    <span class="block">  سازنده پردازنده گرافیکی</span>
                                                                </div>
                                                                <div class="params-list-value">
                                                                    <span class="block">
                                                                        {{ laptop.proccessor_builder }}
                                                                    </span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </section>
                                                    <section>
                                                        <h3 class="params-title">پردازنده</h3>
                                                        <ul class="params-list">
                                                            <li>
                                                                <div class="params-list-key">
                                                                    <span class="block">سری پردازنده</span>
                                                                </div>
                                                                <div class="params-list-value">
                                                                    <span class="block">
                                                                        {{ laptop.proccessor_serie }}
                                                                    </span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="params-list-key">
                                                                    <span class="block">سازنده پردازنده</span>
                                                                </div>
                                                                <div class="params-list-value">
                                                                    <span class="block">
                                                                        {{ laptop.proccessor_builder }}
                                                                    </span>
                                                                </div>
                                                            </li>
                                                            
                                                        </ul>
                                                    </section>
                                                </article>
                                            </div>
                                            <div class="tab-pane" id="comments" role="tabpanel" aria-expanded="false">
                                                <article>
                                                    <h2 class="param-title">
                                                        نظرات کاربران
                                                        <span>{{ comments.count }} نظر</span>
                                                    </h2>
                                                    <div class="comments-area default">
                                                        <ol class="comment-list">
                                                            <!-- #comment-## -->
                                                            {% for comment in comments %}
                                                            <li>
                                                                <div class="comment-body">
                                                                    <div class="comment-author">
                                                                        <img alt="" src="{% static 'img/default-avatar.png' %}" class="avatar"><cite class="fn">{% if comment.user.first_name %}{{ comment.user.first_name }}{% else %}{{ comment.user.username }}{% endif %}</cite>
                                                                        <span class="says">گفت:</span> </div>

                                                                    <div class="commentmetadata"><a href="#">
                                                                          {{ comment.created|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</a> </div>

                                                                    <p>{{ comment.message }}</p>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                            <!-- #comment-## -->
                                                            
                                                        </ol>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="tab-pane form-comment" id="questions" role="tabpanel" aria-expanded="false">
                                                <article>
                                                    <h2 class="param-title">
                                                        افزودن نظر
                                                        <span>نظر خود را در مورد محصول مطرح نمایید</span>
                                                    </h2>
                                                    {% if user.is_authenticated %}
                                                    <form method='post' action="" class="comment">
                                                        {% csrf_token %}
                                                        <textarea name='message' class="form-control" placeholder="نظر" rows="5"></textarea>
                                                        <button class="btn btn-default">ارسال نظر</button>
                                                    </form>
                                                    {% else %}
                                                        <p> برای ارسال نظر خود، لطفا وارد
                                                            <a style='color:blue' href="{% url 'accounts_app:login' %}"> حساب کاربری </a>
                                                              خود شوید. </p>
                                                    {% endif %}
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main -->

 {% endblock %}