{% extends '_base.html' %}
{% load order %}
{% load static %}
{% load humanize %}
{% block title %} Digikala {% endblock %}

{% block head %}


{% endblock head %}

{% block content %}
        <!-- main -->
        <main class="search-page default">
            <div class="container">
                <div class="row">
                    <aside class="sidebar-page col-12 col-sm-12 col-md-4 col-lg-3 order-1">
                        <form>
                            <div class="box">
                                <div class="box-header">
                                    <div class="box-toggle" data-toggle="collapse" href="#collapseExample1" role="button"
                                        aria-expanded="true" aria-controls="collapseExample1">
                                        محدوده قیمت
                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="collapse show" id="collapseExample1">
                                        <div style="text-align:center;" class="filter-option">
                                            
                                            <p><label>از</label>
                                            <input type='number' name='price__gt' min={{min_price}} max={{max_price}} value={{min_price}}
                                                style="text-align:center;width: 50%;padding: 6px 10px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;"> تومان </p>
                                            <p><label >تا</label>
                                            <input type='number' name='price__lt' min={{min_price}} max={{max_price}} value={{max_price}}
                                                style="text-align:center;width: 50%;padding: 6px 10px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;"> تومان </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-header">
                                    <div class="box-toggle" data-toggle="collapse" href="#collapseExample2" role="button"
                                        aria-expanded="true" aria-controls="collapseExample2">
                                        برند
                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="collapse show" id="collapseExample2">
                                       
                                        <div class="filter-option">
                                            
                                            <div class="checkbox">
                                                <input name="brand" value=5 id="checkbox8" type="checkbox" {% if 'brand=5' in request.get_full_path %}checked{% endif %}>
                                                <label for="checkbox8">
                                                    اپل
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input id="checkbox9" type="checkbox" {% if 'brand=2' in request.get_full_path %}checked{% endif %}>
                                                <label for="checkbox9">
                                                    سامسونگ
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input name="brand" value=3 id="checkbox10" type="checkbox" {% if 'brand=3' in request.get_full_path %}checked{% endif %}>
                                                <label for="checkbox10">
                                                    شیاپومی
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input id="checkbox11" type="checkbox">
                                                <label for="checkbox11">
                                                    نوکیا
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input id="checkbox12" type="checkbox">
                                                <label for="checkbox12">
                                                    هواوی
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input id="checkbox13" type="checkbox">
                                                <label for="checkbox13">
                                                    اچ تی سی
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input id="checkbox14" type="checkbox">
                                                <label for="checkbox14">
                                                    فراری
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-content">
                                    <input type="checkbox" name="ava" class="bootstrap-switch" {% if 'ava=on' in request.get_full_path %}checked{% endif %} />
                                    <label for="">فقط کالاهای موجود</label>
                                </div>
                            </div>

                            <div class="product-add default">
                                <div style="text-align:center;" class="parent-btn">
                                    <button type="submit" class="dk-btn dk-btn-info">
                                        اعمال فیلترها
                                    </button>
                                </div>
                            </div>

                        </form>
                    </aside>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-2">
                        <div class="breadcrumb-section default">
                            <ul class="breadcrumb-list">
                                <li>
                                    <a href="#">
                                        <span>فروشگاه اینترنتی دیجی کالا</span>
                                    </a>
                                </li>
                                <li><span>جستجوی موبایل</span></li>
                            </ul>
                        </div>
                        <div class="listing default">
                            <div class="listing-counter">{{ view.get_queryset.count|intcomma }} کالا</div>
                            <div class="listing-header default">
                                <ul class="listing-sort nav nav-tabs justify-content-center" role="tablist"
                                    data-label="مرتب‌سازی بر اساس :">
                                    <li>
                                        <a href="{% url 'store_app:product-list' %}{%if view.querystring %}?{% endif %}{% if 'ordering' in view.querystring %}{{ view.querystring|order }}{% else %}{{ view.querystring }}{% endif %}"
                                        {% if not ordr.ordering %} class="active" {% endif %}>مرتبط‌ترین</a>
                                    </li>
                                    
                                    <li>
                                        <a href="{% url 'store_app:product-list' %}?ordering=desc&{% if 'ordering' in view.querystring %}{{ view.querystring|order }}{% else %}{{ view.querystring }}{% endif %}" 
                                        {% if ordr.ordering == 'desc' %}class="active" {% endif %}>جدیدترین</a>
                                    </li>
                                   
                                    <li>
                                        <a href="{% url 'store_app:product-list' %}?ordering=price-l2h&{% if 'ordering' in view.querystring %}{{ view.querystring|order }}{% else %}{{ view.querystring }}{% endif %}" 
                                            {% if ordr.ordering == 'price-l2h' %} class="active" {% endif %}>ارزان‌ترین</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'store_app:product-list' %}?ordering=price-h2l&{% if 'ordering' in view.querystring %}{{ view.querystring|order }}{% else %}{{ view.querystring }}{% endif %}" role="tab"
                                            {% if ordr.ordering == 'price-h2l' %} class="active" {% endif %} aria-expanded="false">گران‌ترین</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content default text-center">
                                <div class="tab-pane active" id="related" role="tabpanel" aria-expanded="true">
                                    <div class="container no-padding-right">
                                        <ul class="row listing-items">


                                        {% for product in filter %}
                                            
                                            <li class="col-xl-3 col-lg-4 col-md-6 col-12 no-padding">
                                                <div class="product-box">
                                                    <div
                                                        class="product-seller-details product-seller-details-item-grid">
                                                        <span class="product-main-seller"><span
                                                                class="product-seller-details-label">فروشنده:
                                                            </span>دیجی کالا</span>
                                                        <span class="product-seller-details-badge-container"></span>
                                                    </div>
                                                    <a class="product-box-img" href="{{ product.get_absolute_url }}">
                                                        <img src="{{ product.image.url }}" alt="">
                                                    </a>
                                                    <div class="product-box-content">
                                                        <div class="product-box-content-row">
                                                            <div class="product-box-title">
                                                                <a href="#">
                                                                    {{ product.persian_title }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="product-box-row product-box-row-price">
                                                            <div class="price">
                                                                <div class="price-value">
                                                                    <div class="price-value-wrapper">
                                                                        {{ product.price|intcomma }} <span
                                                                            class="price-currency">تومان</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        
                                        {% empty %}

                                            <h1> هیچ محصولی یافت نشد. </h1>

                                        {% endfor %}


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% if page_obj.has_other_pages %}

                            <div class="pager default text-center">
                                <ul class="pager-items">
                                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                        <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}&{{ view.querystring }}{% endif %}"  aria-disabled="true">صفحه قبل</a>
                                      </li>
                                      {% for page in page_obj.paginator.page_range %}
                                    <li>
                                        <a class="pager-item {% if page_obj.number == page %} is-active {% endif %}" href="?page={{ page }}&{{ view.querystring }}">{{ page }}</a>
                                    </li>
                                    {% endfor %}
                                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                        <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}&{{ view.querystring }}{% endif %}">صفحه بعد</a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main -->

{% endblock content %}