{% extends '_base.html' %}
{% load static %}

{% block title %}
    لیست سفارشات
{% endblock title %}

{% block content %}
        <!-- main -->
        <main class="profile-user-page default">
            <div class="container">
                <div class="row">
                    <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-12">
                                    <h1 class="title-tab-content">همه سفارش ها</h1>
                                </div>
                                <div class="content-section default">
                                    <div class="row">
                                        {% for cart in carts %}
                                        <div class="col-md-6 col-sm-12">
                                            <div class="profile-recent-fav-row">
                                                <a href="{% if cart.product.category.title == 'phone' %}{% url 'store_app:mobile-detail' cart.product.pk %}{% elif cart.product.category.title == 'laptop' %}{% url 'store_app:laptop-detail' cart.product.pk %}{% endif %}" class="profile-recent-fav-col profile-recent-fav-col-thumb">
                                                    <img src="{{ cart.product.image.url }}"></a>
                                                <div class="profile-recent-fav-col profile-recent-fav-col-title">
                                                    <a href="{% if cart.product.category.title == 'phone' %}{% url 'store_app:mobile-detail' cart.product.pk %}{% elif cart.product.category.title == 'laptop' %}{% url 'store_app:laptop-detail' cart.product.pk %}{% endif %}">
                                                        <h4 class="profile-recent-fav-name">
                                                            {{ cart.product.persian_title }}
                                                        </h4>
                                                    </a>
                                                    <div class="profile-recent-fav-price">{{ cart.product.price }} تومان</div>
                                                </div>
                                                <div class="profile-recent-fav-col profile-recent-fav-col-actions">
                                                    <a href="{% url 'store_app:remove_from_cart' cart.id %}">
                                                        <button class="btn-action btn-action-remove">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="col-12 text-left mb-3">
                                                    <a href="{% if cart.product.category.title == 'phone' %}{% url 'store_app:mobile-detail' cart.product.pk %}{% elif cart.product.category.title == 'laptop' %}{% url 'store_app:laptop-detail' cart.product.pk %}{% endif %}" class="view-product">مشاهده محصول</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% empty %}
                                        <div class="col-12 text-center">
                                            <div class="content-section pt-5 pb-5">
                                                <div class="icon-empty">
                                                    <i class="now-ui-icons travel_info"></i>
                                                </div>
                                                <h1 class="text-empty">موردی برای نمایش وجود ندارد!</h1>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-1">
                        <div class="profile-box">
                            <div class="profile-box-header">
                                <div class="profile-box-avatar">
                                    <img src="{% static 'img/svg/user.svg' %}" alt="">
                                </div>
                                <button data-toggle="modal" data-target="#myModal" class="profile-box-btn-edit">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <!-- Modal Core -->
                                <div class="modal-share modal-width-custom modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">تغییر نمایه کاربری شما</h4>
                                            </div>
                                            <div class="modal-body">
                                                <ul class="profile-avatars default text-center">
                                                    <li>
                                                        <img class="profile-avatars-item" src="{% static 'img/svg/user.svg' %}"></img>
                                                    </li>
                                                    <li>
                                                        <img class="profile-avatars-item" src="{% static 'img/svg/avatar-1.svg' %}"></img>
                                                    </li>
                                                    <li>
                                                        <img class="profile-avatars-item" src="{% static 'img/svg/avatar-2.svg' %}"></img>
                                                    </li>
                                                    <li>
                                                        <img class="profile-avatars-item" src="{% static 'img/svg/avatar-3.svg' %}"></img>
                                                    </li>
                                                    <li>
                                                        <img class="profile-avatars-item" src="{% static 'img/svg/avatar-4.svg' %}"></img>
                                                    </li>
                                                    <li>
                                                        <img class="profile-avatars-item" src="{% static 'img/svg/avatar-5.svg' %}"></img>
                                                    </li>
                                                    <li>
                                                        <img class="profile-avatars-item" src="{% static 'img/svg/avatar-6.svg' %}"></img>
                                                    </li>
                                                    <li>
                                                        <img class="profile-avatars-item" src="{% static 'img/svg/avatar-7.svg' %}"></img>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal Core -->
                            </div>
                            <div class="profile-box-username">{% if user.last_name or user.first_name %}
                                {{user.first_name}} {{user.last_name}}
                                {% endif %} </div>
                                <div class="profile-box-tabs">
                                    <a href="{% url 'accounts_app:password_change' %}" class="profile-box-tab profile-box-tab-access">
                                        <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                        تغییر رمز
                                    </a>
                                    <a href="{% url 'accounts_app:logout' %}" class="profile-box-tab profile-box-tab--sign-out">
                                        <i class="now-ui-icons media-1_button-power"></i>
                                        خروج از حساب
                                    </a>
                                </div>
                        </div>
                        <div class="responsive-profile-menu show-md">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-navicon"></i>
                                    حساب کاربری شما
                                </button>
                                <div class="dropdown-menu dropdown-menu-right text-right">
                                    <a href="profile.html" class="dropdown-item">
                                    <i class="now-ui-icons users_single-02"></i>
                                    پروفایل
                                    </a>
                                    <a href="profile-orders.html" class="dropdown-item active-menu">
                                    <i class="now-ui-icons shopping_basket"></i>
                                    همه سفارش ها
                                    </a>
                                    <a href="profile-orders-return.html" class="dropdown-item">
                                    <i class="now-ui-icons files_single-copy-04"></i>
                                    درخواست مرجوعی
                                    </a>
                                    <a href="profile-favorites.html" class="dropdown-item">
                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                    لیست علاقمندی ها
                                    </a>
                                    <a href="profile-personal-info.html" class="dropdown-item">
                                    <i class="now-ui-icons business_badge"></i>
                                    اطلاعات شخصی
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-menu hidden-md">
                            <div class="profile-menu-header">حساب کاربری شما</div>
                            <ul class="profile-menu-items">
                                <li>
                                    <a href="{% url 'accounts_app:profile' %}">
                                        <i class="now-ui-icons users_single-02"></i>
                                        پروفایل
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'accounts_app:profile-order' %}" class="active">
                                        <i class="now-ui-icons shopping_basket"></i>
                                        همه سفارش ها
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'accounts_app:personal-info' %}">
                                        <i class="now-ui-icons business_badge"></i>
                                        اطلاعات شخصی
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main -->

{% endblock %}